# ── Embedding & reranker models ───────────────────────────────────────────────
EMBED_MODEL_NAME=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
RERANK_MODEL_NAME=cross-encoder/ms-marco-MiniLM-L4-v2

PORT=80
